/*	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	
			BODY
=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	*/

body {
	text-align: center;
	font-size: 62.5%;
	background: url(../img/rockywall.png)
}

#wrap {
	width: 96%;
	margin: 0 auto;
}

img {
	max-width: 90%;
}

/*	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	
			FONTS
=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	*/

h2 {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	font-size: 3.000em;
}

h3 {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	font-size: 2.500em;
	margin: 0 0 10px 0;
}

h4 {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	font-size: 2.000em;
}

p, span {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	font-size: 1.600em;
}

a {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	font-size: 1.600em;
}


/*	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	
			NAVIGATION
=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	*/

#logo {
	padding: 10px 0 0 0;
}

#navigation {
	height: 150px;
	background: url(../img/grunge.png) no-repeat;
	text-align: center;
}

.nav ul {

}

.nav li {
	display: inline;
	margin: 0 02.0833333% 0 02.0833333%; /*960/20*/
}

.nav a {
	text-decoration: none;
	font-size: 1.800em;
	color: #000;
}

.nav a:hover {
	color: #5f098f;
	border-bottom: 1px solid #5f098f;
}

.active {
	color: #7a7294;
	border-bottom: 1px solid #7a7294;
}

/*	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	
			GALLERY
=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	*/

.gallery {
	margin: 10px 0 50px 2%;
}

.gallery h3 {
	text-align: left;
}

.gallItem {
	width: 46.875%;/*450/960*/
	height: 300px;
	background-color: rgba(255, 255, 255, 0.3);

	margin: 5px 02.6041667% 10px 0; /*25/960*/
	display: inline;
	float: left;

	-webkit-box-shadow: 0 3px 5px 0 rgba(50, 50, 50, 0.55);
	-moz-box-shadow: 0 3px 5px 0 rgba(50, 50, 50, 0.55);
	-o-box-shadow: 0 3px 5px 0 rgba(50, 50, 50, 0.55);
	box-shadow: 0 3px 5px 0 rgba(50, 50, 50, 0.55);
}


.gallItem h4 {
	padding: 5px 0 3px 02.2222222%; /*10/450*/
}

.gallImg {
	padding: 2px 0 3px 0;
}

.gallItem span {
	width: 77.7777778px; /*350/450*/
}

/*	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	
			ABOUT
=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	*/

.aboutItem {
	width: 95.75%; /*912/960*/
	padding-bottom: 40px;
	background-color: rgba(255, 255, 255, 0.3);

	margin: 5px 5% 10px 0;

	-webkit-box-shadow: 0 3px 5px 0 rgba(50, 50, 50, 0.55);
	-moz-box-shadow: 0 3px 5px 0 rgba(50, 50, 50, 0.55);
	-o-box-shadow: 0 3px 5px 0 rgba(50, 50, 50, 0.55);
	box-shadow: 0 3px 5px 0 rgba(50, 50, 50, 0.55);
}

.aboutItem h3 {
	padding: 8px 0 0 01.0964912%; /*10/912*/ 
}

.aboutText {
	padding: 2px 01.0964912% 0 01.0964912%;
	text-align: left
}


/*	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	
			DETAILS
=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	*/

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 1rem;
    line-height: 140%;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.2);
    color: #FCF4DC;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
         -o-user-select: none;
            user-select: none;
}

.btn-left {
	float: left;
	margin: 0 88.5416667% 0 0; /*850/960*/
}

/*.btn-right {
	margin: 0 0 0 900px;
}*/

.btn:hover {
	color: #7a7294;
	background: rgba(0, 0, 0, 0.8);
}

.siteInfo {
	text-align: left;
}

.image {
	width: 370px;
	margin: 0 10px 0 0;
}

.info {
	width: 350px;
	float: right;
	position: absolute;
	top: 300px;
	right: 28%;
}


/*	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	
			FOOTER
=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	*/

#footer {
	clear: left;
	height: 100px;
	padding: 40px 0 0 0;
}








/*	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	
			MEDIA QUERIES
=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	*/

@media only screen and (max-width: 480px) {

	/*		BODY
	*********************************************/
	img {
		max-width: 75%;
	}

	/*		FONTS
	*********************************************/
	h2 {
		font-size: 2.700em;
	}

	h3 {
		font-size: 2.200em;
		margin: 0 0 8px 0;
	}

	h4 {
		font-size: 2.000em;
	}

	/*	NAVIGATION
	*********************************************/
	#logo {
		width: 100%;
	}

	#navigation {
		height: 100px;
	}

	.nav li {
		margin: 0 05.2083333% 0 05.2083333%; /*40/960*/
	}

	.nav a {
		font-size: 2.000em;
	}

	/*	GALLERY
	*********************************************/

	.gallery {
		margin: 10px 0 50px 0;
	}

	.gallItem {
		width: 46.875%;/*450/960*/
		height: 300px;
		background-color: none;

		margin: 5px 02.6041667% 10px 0; /*25/960*/
		display: inline;
		float: none;

		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		-o-box-shadow: none;
		box-shadow: none;
	}


	.gallItem h4 {
		padding: 5px 0 3px 5px; 
		position: relative;
		text-align: left;
		z-index: 10;
		width: 350px;

		top: 35px;
		left: 50px;

		color: rgba(255, 255, 255, 0.7);
		background-color: rgba(0, 0, 0, 0.6);
	}

	.gallImg {
		padding: 2px 0 3px 0;
	}

	.gallItem span {
		width: 77.7777778px; /*350/450*/
		background-color: rgba(255, 255, 255, 0.6);
		padding: 5px 10px 5px 10px;
	}

	/*	ABOUT
	*********************************************/

	.aboutItem {
		width: 95.75%; /*912/960*/
		padding-bottom: 40px;
		background-color: rgba(255, 255, 255, 0.3);

		margin: 5px 5% 10px 0;

		-webkit-box-shadow: 0 3px 5px 0 rgba(50, 50, 50, 0.55);
		-moz-box-shadow: 0 3px 5px 0 rgba(50, 50, 50, 0.55);
		-o-box-shadow: 0 3px 5px 0 rgba(50, 50, 50, 0.55);
		box-shadow: 0 3px 5px 0 rgba(50, 50, 50, 0.55);
	}

	/*	DETAILS
	*********************************************/

	.btn-left {
		margin: 0 83% 0 0;
	}

	.siteInfo {
		text-align: center;
	}

	.siteInfo h3 {
		text-align: center;
	}

	.image {
		width: 100%;
		margin: 0 10px 0 0;
	}

	.info {
		width: 350px;
		float: none;
		position: relative;
		top: 10px;
		right: -12%;
		text-align: center;
	}

}/*480px*/









